* {
  list-style: none;
  margin: 0;
  padding: 0;
}
.box {
  width: 98%;
  margin-left: 1%;
  margin-top: 10px;
}
.box .title {
  width: 60%;
  height: 40px;
  padding-left: 12px;
  border: 1px solid #d5d5d5;
  font-size: 16px;
  font-family: "Microsoft Yahei", sans-serif, Arial;
}
.box .content {
  margin-top: 10px;
}
.box .up {
  float: right;
  height: 40px;
  width: 100px;
  background: #c00000;
  border: 0px;
  font-family: "Microsoft Yahei", sans-serif, Arial;
  font-size: 16px;
  color: white;
}
.box .up:hover {
  opacity: 0.8;
  cursor: pointer;
}
